<div id="card-title2"><h1 style="font-size:40px; color:white">Bienvenido a MyAtt!</h1></div>
<body>
    <div class="desc">
        MyAtt es la solución todo en uno para tus necesidades académicas.<br>
        Contando con las herramientas necesarias para llevar la asistencia y las clases de forma confiable y eficaz.<br>
        Tanto si eres estudiante, docente o ambos, MyAtt está contigo!<br>
    </div>
<div class="arrow"> 🢀 Este es tu dashboard</div>
<div class="expl">Aqui accederas facilmente a todas las herramientas disponibles en la aplicación<br>
    <br>
    ⎆ Ahora mismo te encuentras en la pantalla Home<br>
    ⎆ En la pestaña de Classes podrás acceder gestionar todas tus clases, crearlas y eliminarlas, tomar asistencia, llevar un control de la misma, etc<br>
    ⎆ En la pestaña de randomizer tienes un útil randomizador de opciones, simplemente inserta los elementos que desees como una lista y esta se te devolverá en un orden aleatorio<br>
    ⎆ En la pestaña Timer cuentas con un cronómetro convencional, útil cuando quieres delimitar el tiempo de una actividad o tarea<br>
    ⎆ Finalmente, en la pestaña Profile tienes la información de tu cuenta<br>
</div>
<div class="fin"><h1 style="font-size:30px; color:white">
    Disfruta MyAtt
</h1></div>






</body>
